* {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    padding: 20px;
}



/* CURRENT MAIN */

.current-container {
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding:30px;
}

.current-main {
    /* background-color: lightblue; */
    display: flex;
    width: 100%;
    height: 100%;
    /* flex-grow: 1; */
    gap: 20px;

}

.current-main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;g
}


.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#search {
    width:100%;
    padding: 5px;
}

.weather-container {
    font-size: 3rem;
}

.location-container {
    font-size: 2rem;
    font-weight: 700;
}

.current-main-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:20px;
}
.current-degrees {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.current-time-container {
    font-size: 1.8rem;
    font-style: italic;
}

.current-image {
    height:120px
}

[data-location-pin] {
    height: 2rem;
}

/* CURRENT EXTRA  */
.current-extra-container {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
    /* background-color: aqua; */
}

.current-extra {
    display:flex;
}

.current-extra-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
