* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

:root {
    --dark-color: rgb(100,100,100);
    --medium-color: white;
    --light-color: lightblue;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-color);
    padding: 20px 100px;
}

.logo-container {
    font-size: 3rem;
}

.units-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.hidden-checkbox {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#unit-toggle:checked + .toggle-label {
    background-color: #2196F3;
}

#unit-toggle:checked + .toggle-label::before {
    content: '°C';
}

#unit-toggle:not(:checked) + .toggle-label::before {
    content: '°F';
}

/* CURRENT MAIN */

.current-container {
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding:30px;
}

.current-main {
    display: flex;
    width: 100%;
    height: 100%;
    /* flex-grow: 1; */
    gap: 20px;

}

.current-main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* #SEARCH BAR */
#search, form {
    width:100%;
}

#search {
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    border: var(--light-color) solid;
    font-size: 1.2rem;
}

.weather-container {
    font-size: 3rem;
}

.location-container {
    font-size: 2rem;
    font-weight: 700;
}

.current-main-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:20px;
}
.current-degrees {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}

.current-time-container {
    font-size: 1.8rem;
    font-style: italic;
}

.current-image {
    height:120px
}

[data-location-pin] {
    height: 2rem;
}

/* CURRENT EXTRA  */
.current-extra-container {
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 80px;
    /* background-color: aqua; */
}

.current-extra {
    display:flex;
}

.current-extra-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

/* HOURLY */

.hourly-container {
    display: flex;
    justify-content: center;
    gap:30px;
    padding: 40px;
}

.hourly-temp {
    font-size: 1.5rem;
}

.hourly-time {
    text-align: center;
}